version: "2"

services:
  app:
    build: .
    container_name: app.server
    ports:
      - "5000:5000"
    volumes:
      - ./:/home/sites/app/
    environment:
      - C_FORCE_ROOT=true
    networks:
      - app-network
    depends_on:
      - postgres

  postgres:
    image: postgres:9.6
    container_name: app.postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data/
      - postgres-conf:/etc/postgresql
      - postgres-logs:/var/log/postgresql

    environment:
      LC_ALL: C.UTF-8
      POSTGRES_PASSWORD: #
      POSTGRES_DB: #

    networks:
      - app-network

volumes:
  postgres-data:
  postgres-conf:
  postgres-logs:

networks:
  app-network:
    driver: bridge
